.root {
    -fx-background-color:"271349";
}

#center {
    -fx-fill:"40414d";
}

.label {
    -fx-font-family:"Lucida Bright";
    -fx-text-fill:"ffffff";
    -fx-font-size:16;
}
#nowPlayingLabel {
    -fx-font-size:20;
}

#addSongLabel {
    -fx-font-size:12;
 }